{% extends 'parent/admin_parent.html' %}

{% load staticfiles %}
{% block title %} مدیریت اخبار {% endblock %}
{% block css %}
<link href="{% static 'plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/bootstrap-modal/css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap-wysihtml5-rtl.css' %}"/>
<link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/wysiwyg-color.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-markdown/css/bootstrap-markdown.min.css' %}">
{% endblock %}
{% block place %}
    <i class="fa fa-coffee"></i>
    <a href="#">
        اخبار
    </a>
    <i class="fa fa-angle-left"></i>
    <i class="fa fa-rss"></i>
    <a href="{% url 'myapp.views.admin_news_rss' %}">
        اخبار rss
    </a>
    <i class="fa fa-angle-left"></i>

{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-12 col-sm-12">
					<div class="portlet box grey tasks-widget">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-check"></i>rss های امروز
							</div>

							<div class="actions">
                                <div class="btn-group">
									<a class="btn default btn-xs" href="#" id="delete">
                                        <i class="fa fa-trash-o"></i>
										حذف
									</a>
                                </div>
                                <div class="btn-group">
									<a class="btn default btn-xs" id="insert" >
                                        <i class="fa fa-check"></i>
										افزودن
									</a>
                                </div>
								<div class="btn-group">
									<a class="btn default btn-xs" href="#" >
										 بیشتر <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#">
												<i class="i"></i> همه rss ها
											</a>
										</li>
										<li>
											<a href="#">
												روز گذشته
											</a>
										</li>
										<li>
											<a href="#">
											هفته گذشته
											</a>
										</li>
										<li>
											<a href="#">
													 انتخاب تاریخ
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="portlet-body" style="overflow-y:visible;">
							<div class="task-content">
								<div >
                                <table  class="table">
                                    <tbody>
{#                                    {% setvar ssg = 0 %}#}
                                    {% for i in entry %}
                                     <tr>
                                      <td style="background: #ffffff">
                                          <div class="task-checkbox">
                                             <input type="checkbox" value="{{ i.description }}" id="tit">
                                              {{ i.title }}
										  </div>
                                      </td>
{#                                         {% setvar ssg += 1 %}#}
                                       <td>
                                           <div class="portlet">
                                               <div class="portlet-title">
                                                   <div class="caption">
                                                       <i class="fa fa-reorder"></i><h5>نمایش متن خبر</h5>
                                                   </div>
                                                   <div class="tools">
                                                       <a href="javascript:;" class="expand">
                                                       </a>
                                                   </div>
                                               </div>
                                               <div class="portlet-body display-hide">
                                                   <strong></strong>
                                                   <p id="des" data-vl="sd_{{ ssg }}">
                                                   {{ i.description }}
                                                   </p>
                                               </div>
                                           </div>
                                       </td>
                                     <td id="img">
                                         {{ i.img }}
                                     </td>
                                     </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                                </div>
							</div>

						</div>
					</div>
				</div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block js %}
    <script src="{% static "plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" %}"></script>
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-modal/js/bootstrap-modalmanager.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-modal/js/bootstrap-modal.js' %}"></script>

    <script src="{% static 'scripts/core/app.js' %}"></script>
    <script src="{% static 'scripts/custom/ui-extended-modals.js' %}"></script>
<script>


    jQuery(document).ready(function() {
   // initiate layout and plugins
        $("#tit").click(function(){
            $("#tit").css("background", "#bdbdbd")
        });


   UIExtendedModals.init();
   $("#delete").click(function(){
       var list ='';
       $("input[type=checkbox]").filter(":checked").each(function(){
            var csr = $("input[name=csrfmiddlewaretoken]").val();
           alert(list);
           $.post("/delete/rss",{
               List : list,
               csrfmiddlewaretoken:csr
           },function(data){
                   alert(data);
           });
       });
   });
});
</script>
{% endblock %}